body {
  max-width: 1360px;
  width: 100%;
  background: #ffffff;
}
body .main-container {
  max-width: 1110px;
  width: 100%;
}
body .main-container .main {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 110px;
  padding: 0 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 115px;
}
body .main-container .main-details {
  max-width: 445px;
  width: 100%;
}
body .main-container .main-details-title {
  max-width: 475px;
  width: 100%;
  margin-top: 100px;
}
body .main-container .main-details-text {
  max-width: 445px;
  width: 100%;
  font-family: Mulish;
  font-size: 16px;
  color: #111111;
  opacity: 0.8;
}
body .main-container .form-container {
  max-width: 475px;
  width: 100%;
}
body .main-container .form-container .main-form {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .main-container .form-container .main-form input {
  width: 350px;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}
body .main-container .form-container .main-form input:focus {
  background-color: rgba(74, 80, 242, 0.61);
}
body .main-container .form-container .main-form input:hover {
  background-color: rgba(74, 80, 242, 0.61);
}
body .main-container .form-container .main-form input textarea {
  width: 350px;
  border: none;
  border-bottom: 1px solid black;
}
body .main-container .form-container .main-form input textarea:focus {
  background-color: rgba(74, 80, 242, 0.61);
}
body .main-container .form-container .main-form input textarea:hover {
  background-color: rgba(74, 80, 242, 0.61);
}
body .main-container .form-container .button {
  margin-top: 40px;
  max-width: 125px;
  width: 100%;
  height: 50px;
  background-color: #4a4ff2;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
}
body .main-container .form-container .button:hover {
  background-color: rgba(74, 80, 242, 0.61);
  color: #111111;
  text-decoration: underline;
}
body .main-container .form-container .map {
  max-width: 1110px;
  width: 100%;
  height: 570px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 160px;
  margin-left: 285px;
  padding: 0 20px;
}