header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-top: 61px;
  margin-left: 121px;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 61px;
  margin-right: 121px;
  list-style-type: none;
}
header nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  margin: 10px;
}