body {
  max-width: 1360px;
  /* height: 3840px; */
  width: 100%;
  background: #ffffff;
}
body .main-container {
  max-width: 1110px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body .main-container .main {
  max-width: 1110px;
  width: 100%;
}
body .main-container .main .main-details {
  max-width: 645px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 115px;
  padding: 0 20px;
}
body .main-container .main .main-details .main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 495px;
  width: 100%;
  margin-top: 100px;
}
body .main-container .main .main-details .main-text {
  max-width: 635px;
  width: 100%;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  color: #111111;
  opacity: 0.8;
}
body .main-container .main .main-list {
  max-width: 335px;
  width: 100%;
  margin-top: 100px;
  margin-left: 140px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[6];
  grid-template-rows: repeat(6, 1fr);
}
body .main-container .main .main-list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
body .main-container .main .main-list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
body .main-container .main .main-list > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
body .main-container .main .main-list > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
body .main-container .main .main-list > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
body .main-container .main .main-list > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
body .main-container .main .main-list > *:nth-child(7) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
body .main-container .main .main-list > *:nth-child(8) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
body .main-container .main .main-list > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
body .main-container .main .main-list > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}
body .main-container .main .main-list > *:nth-child(11) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}
body .main-container .main .main-list > *:nth-child(12) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}
body .main-container .main .main-list .main-list-title {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #111111;
  mix-blend-mode: normal;
  border-top: 1px solid #d8d8d8;
  opacity: 0.5;
}
body .main-container .main .main-list .main-list-item {
  font-family: Mulish;
  font-weight: bold;
  font-size: 18px;
  border-top: 1px solid #d8d8d8;
  color: #111111;
}
body .main-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  height: 660px;
  margin-top: 61px;
  margin-left: 125px;
}
body .image-info {
  max-width: 1109px;
  width: 100%;
  margin-left: 125px;
  margin-top: 45px;
  font-family: Mulish;
  font-size: 16px;
  color: #111111;
  opacity: 0.8;
}
body .img-container {
  max-width: 1110px;
  width: 100%;
  margin-top: 45px;
  margin-left: 125px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .img-container img {
  width: 100%;
  height: 100%;
}